*{
    padding: 0px;
    margin: 0px;
    outline: 1px solid black;
}
.page{
    width: 970px;
    height: 1000px;
    margin: 20px auto;
    background-color: rgb(100, 100, 100);
}

.shapes{
    
   width: 960px;
   height: 900px;
   

   
}